<div class="container">
    <label class="switch">
        <input id="rangeToggle" onchange="displayCalendar()" type="checkbox">
        <span class="slider"></span>
      </label>
    <div id="calendarContainer" class="calendar-container">
        
    </div>
</div>
<script defer type="text/javascript" src="habits.js"></script>