<div id="habitList" class="vertical container" onload="() => fetchHabits()">
    <h1>your habits:</h1>
    <button class="full-button" onclick="showHabitCreationModal()">New habit</button>
    <%- include('habit_creation_modal') -%>
</div>
<script defer type="text/javascript" src="habits.js"></script>