<div class="vertical container">
    <h1>habits</h1>
    <%- include('habit_creation_modal') -%>
    <div id="habitList">

    </div>
    
</div>
<script defer type="text/javascript" src="habits.js"></script>
<script defer type="text/javascript" src="calendar_new.js"></script>