<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>nawyk.ly</title>
</head>
<body onload="init()">
    <div class="navbar">
        <!-- <h1 class="banner-text">Witaj w <i>nawykly</i></h1> -->

        <div id="bannerText" class="banner-text">welcome, <%= username %></div>
        <div class="horizontal-container post-login">
            <div class="navbar-element button primary">
                dashboard
            </div>
            <div class="navbar-element button primary">
                pomodoro
            </div>
            <div id="logout-button" onclick="logout()" class="navbar-element button secondary">
                logout
            </div>
        </div>
        
    </div>
    <div class="main"></div>
    
    <script defer type="text/javascript" src="index.js"></script>
</body>
</html>