<%- include('template_header_form') -%>
    
        <form action="/login" method="post">
         
            <input type="text" name="username" placeholder="Username" id="username" required>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <input class="submit button" type="submit" value="Login">
            <a href="/register">Do not have an account? Register here!</a>
            <a href="/reset">Forgot password?</a>
        </form>
<%- include('template_footer_form') -%>