<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/login.css" type="text/css">
    <title>nawyk.ly</title>
</head>
<body onload="init()">
    <div class="navbar">
        <!-- <h1 class="banner-text">Witaj w <i>nawykly</i></h1> -->

        <div class="banner-text">nawykly</div>
        </div>
    </div>
    <% if (message != "") { %>
    <div class="message-prompt"><%= message %></div>
    <% } %>
    <div class="login">
        
        <h1>Login</h1>
        <form action="/login" method="post">

            <input type="text" name="username" placeholder="Username" id="username" required>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <a href="/register">Do not have an account? Register here!</a>
            <a href="/reset">Forgot password?</a>

            <input type="submit" value="Login">
        </form>
    </div>
    
    <script defer type="text/javascript" src="index.js"></script>
</body>
</html>