<%- include('template_header_form') -%>
    <form action="/new_password" method="post">
        <input type="text" name="token" placeholder="Enter your reset token" required>
        <input type="password" name="password" placeholder="Enter your new password" required>
        <input type="password" name="password_repeat" placeholder="Confirm your new password" required>
        <input type="submit" class="submit button" value="Reset">
        <a href="/login">Back to the login page</a>
        <a href="/reset">Regenerate reset token</a>

        

    </form>
    <%- include('template_footer_form') -%>