<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
</head>
<body>
    <h2>Reset your password</h2>
    <div><%= message %></div>
    <form action="/new_password" method="post">
        <input type="text" name="token" placeholder="Enter your reset token">
        <input type="password" name="password" placeholder="Enter your new password">
        <input type="password" name="password_repeat" placeholder="Confirm your new password">
        <a href="/login">Back to the login page</a>
        <a href="/reset">Regenerate reset token</a>

        <input type="submit">

    </form>
    
</body>
</html>