<%- include('template_header_form') -%>
    <form action="/reset" method="post">
        <input type="email" name="email" placeholder="Your email address" required>
        <input class="submit button" type="submit" value="Recover">
        <a href="/new_password">I have already obtained my reset token</a>
        <a href="/login">Back to the login page</a>

    </form>
<%- include('template_footer_form') -%>