<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>nawyk.ly</title>
</head>
<body onload="init(); login('wayson', 'wayson')">
    <div class="navbar">
        <!-- <h1 class="banner-text">Witaj w <i>nawykly</i></h1> -->

        <div id="bannerText" class="banner-text">nawykly</div>
        
            <div id="logout-button" class="navbar-element button secondary">
                <a href="/dashboard">home</a>
            </div>
        </div>
       
        
    </div>
    <div class="main">
        <div class="form-container">
            <p class="error-message"><%= message %></p>
            