
<form>
    <p>log in to nawykly</p>
    <input class="input-field" type="text" placeholder="username"/>
    <input class="input-field" type="password" placeholder="password"/>
    <input class="button" type="submit"/>
    </form>