:root {

    
    /* COLORS */
    --green: #539165;
    --blue: #3F497F;
    --yellow: #F7C04A;
    --white: #F8F5E4;

    /* TYPOGRAPHY */
    --s: 0.75rem;
    --m: 1rem;
    --l: 1.25rem;
    --xl: 1.5rem;

    /* SIZES OF ELEMENTS */
    --navbar-height: 60px;
    --break-width: 450px;
    /*width of screen, when app gets into "mobile" mode
    /* box-sizing: border-box; */


}
* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    box-sizing: border-box;
    /* transition: background-color 0.25s,
        color 0.25s,
        font-style 0.25s,
        border-bottom 0.25s; */
}
body {
    margin: 0;
    background-color: var(--green);
    color: var(--white);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ==================== */ 
/* NAVBAR               */
/* ==================== */
.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100%;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--blue);
    /* padding: 1em; */
    box-shadow: 4px 4px black;
    align-items: center;
    justify-content: space-between;
    height: 60px
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.banner-text {
    font-style: italic;
    font-size: var(--l);
}

/* ==================== */ 
/* BUTTONS AND A        */
/* ==================== */
.button {
    padding: 0.75rem;
    /* border: 2px solid var(--white);
    border-radius: 1em; */
    border-bottom: 2px solid var(--white);
    text-align: center;
    width: 100px;
    background: none;
    box-shadow: none;
    

}

.button:hover {
    color: var(--yellow);
    border-bottom: 2px dashed var(--yellow);
    transition: background-color 0.25s,
        color 0.25s,
        font-style 0.25s,
        border-bottom 0.25s;
    cursor: pointer;
    font-style: italic;
}

.full-button {
    padding: 0.75rem;
    color: var(--blue);
    border: 2px solid var(--white);
    border-radius: 5px;
    border-bottom: 2px solid var(--white);
    text-align: center;
    width: 100px;
    background-color:var(--yellow);
    box-shadow: 4px 4px black;
    transition: background-color 0.25s,
        color 0.25s,
        font-style 0.25s,
        box-shadow 0.25s,
        border-bottom 0.25s;
    /* height: var(--navbar-height); */
    }

.full-button:hover {
    cursor: pointer;
    padding: 0.75rem;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 5px;
    border-bottom: 2px solid var(--white);
    text-align: center;
    width: 100px;
    background-color:var(--yellow);
    box-shadow: 2px 2px black;
    transition: background-color 0.25s,
        color 0.25s,
        font-style 0.25s,
        box-shadow 0.25s,
        border-bottom 0.25s;
}




a {
    color: var(--white);
    text-decoration: none;
}

/* ==================== */ 
/* FORMS                */
/* ==================== */

.main {
    
    /* width: 100vw; */
    height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.form-container {
    width: clamp(300px, 30vw, 200px);
    background-color: var(--blue);
    box-shadow: 4px 4px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container > form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
    
}
.form-container > form > input {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: var(--m);
    width: 70%;
    margin-top: 1em;
    padding: 0.1em;
}

.form-container > form > a {
    font-size: var(--s);
    text-decoration: solid;
    margin-bottom: 0.3em;
}

.form-container > form > a:hover {
    font-size: var(--s);
    color: var(--yellow);
    text-decoration: dashed;
    font-style: italic;
    
}

.submit {
    color: var(--white);
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 1em;
}
.submit:hover{
    color: var(--yellow);
}
.error-message{
    color: rgb(255, 118, 118);
    width: 70%;
    margin-top: 1em;
    margin-bottom: 0;
}

/* ==================== */ 
/* DASHBOARD            */
/* ==================== */
.container {
    display: flex;
    width: 90%;
    /* height: 100%; */
    gap: 10px;
    margin-top: 10px;
    
}
@media (min-width: 770px){
.container {
    flex-direction: row;
    
}
}
@media (max-width: 770px){
    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.vertical {
    flex-direction: column;
}

/* ==================== */ 
/* HABIT CREATION MODAL */
/* ==================== */

.habit-creation-modal {
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.368);
    display: none;

}

.center {
    align-items: center;
    justify-content: center;
}

.habit-creation-form {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    width:  clamp(500px, 300px, 100vw);
    box-shadow: 4px 4px black;
    padding: var(--l);
}
#inputContainer > input {
    margin-bottom: 5px;
}
#inputContainer {
    display: flex;
    flex-direction: column;
}
.habit-creation-form > .container {
    justify-content: flex-end;
    width: 100%;
    gap: 5px;
}

.habit-card {
    background-color: var(--blue);
    box-shadow: 4px 4px black;
    padding: 10px
  
}

#habitList {
    min-height: 450px;
    max-height: calc(100vh - var(--navbar-height) - 70px);
    overflow-y: auto;
}
@media (max-width: 770px){
    #habitList{
        width: 100%;
    }
}

.habit-card > h3 {
    padding-top: 0;
}

.done {
    background-color: grey;
}
/* .habit-card, p {
    padding: 5px;
} */


/* SLIDERS */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

  /* FROM CALENDAR */
  /* Import Google font - Poppins */

.wrapper{
    background-color: var(--yellow);
    height: 450px;
    width: 450px;
    /* border-radius: 10px; */
    box-shadow: 4px 4px black;
    
  }
  .wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
  }
  header .icons{
    display: flex;
  }
  header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  header .icons span:hover{
    background: #f2f2f2;
  }
  header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
    color: var(--blue)
  }
  .calendar{
    /* text-align: center; */
    padding: 20px;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
    padding-left: 0;
  }
  .calendar .weeks {
    padding-left: 0;
  }
  .calendar li{
    color: var(--blue);
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }
  .days li.inactive{
    color: #a9a9a9;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    /* border-radius: 50%; */
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: var(--blue);
  }
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }

  .calendar-container {
    display: flex;
    flex-direction: column;
    
  }
