:root {

    
    /* COLORS */
    --green: #539165;
    --blue: #3F497F;
    --yellow: #F7C04A;
    --white: #F8F5E4;

    /* TYPOGRAPHY */
    --s: 0.75rem;
    --m: 1rem;
    --l: 1.25rem;
    --xl: 1.5rem;

    /* SIZES OF ELEMENTS */
    --navbar-height: 60px;
    /* box-sizing: border-box; */


}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: var(--green);
    color: var(--white);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ==================== */ 
/* NAVBAR               */
/* ==================== */
.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--blue);
    /* padding: 1em; */
    box-shadow: 4px 4px black;
    align-items: center;
    justify-content: space-between;
    height: 60px
}

.horizontal-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.banner-text {
    font-style: italic;
    font-size: var(--l);
}

/* ==================== */ 
/* BUTTONS               */
/* ==================== */
.button {
    padding: 0.75rem;
    /* border: 2px solid var(--white);
    border-radius: 1em; */
    border-bottom: 2px solid var(--white);
    text-align: center;
    width: 100px;
    background: none;
    box-shadow: none;
    
    /* height: 60px; */

}

.button:hover {
    color: var(--yellow);
    /* background-color: var(--white); */
    /* border: 2px solid var(--blue); */
    border-bottom: 2px dashed var(--yellow);
    transition: background-color 0.25s,
        color 0.25s,
        font-style 0.25s,
        border-bottom 0.25s;
    cursor: pointer;
    font-style: italic;
}

/* ==================== */ 
/* FORMS                */
/* ==================== */

.main {
    
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container > form{

    width: clamp(300px, 30vw, 200px);
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 5px; */
    box-shadow: 4px 4px black;
}
input {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form-container > form > .button {
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 1em;

}
.form_container > form > .button:hover {
    color: var(--yellow);

}
.input-field {
    width: 70%;
    margin-top: 1em
}

.logged {
    display: none;
}